@font-face { 
	font-family: Yozakura; src: url('../fonts/YOZAKURA-Regular.otf'); 
} 

body {
	background-color: #fbf574;
}

h1 {
	font-family: "Yozakura";
	font-size: 6em;
	color: #6C6703;
	text-align: center;
	margin-top: 50px;
}

#button {
	display: inline;
	background-color: red;
	margin: 0 auto;
}

h3 {
	background-color: brown;
	width: 100%;
	text-align: center;
	color: black;
	opacity: 0.8;
	margin: 1px;
}

#quote {
	font-family: "Yozakura";
	padding-top: 15px;
	background-color: blue;
	border-radius: 20px;
	padding: 20px;
	text-align: justify;
}

#twitterbutton {
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	position: static;
	margin: 0 auto;
}



