@font-face { 
	font-family: Yozakura; src: url('../fonts/YOZAKURA-Regular.otf'); 
} 

body {
	background-color: #fbf574;
}

h1 {
	font-family: "Yozakura";
	color: black;
	text-align: center;
	margin-top: 100px;
}

#title {
	font-size: 5em;
}

#button {
	display: inline;
	background-color: red;
	margin: 0 auto;
}

#main {
	width: 50%;
}

h3 {
	background-color: brown;
	width: 100%;
	text-align: center;
	color: black;
	opacity: 0.8;
	margin: 1px;
}

#quote {
	font-family: "Yozakura";
	padding-top: 15px;
	background-color: #fbf574;
	border-radius: 20px;
	padding: 20px;
	text-align: justify;
}

#twitterbutton {
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	position: static;
	margin: 0 auto;
}



